<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="navber">
      <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
      <div class="menu">
        <ul>
          <li><a href="Product_sun.html">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <%- contents %>

  <footer class="footer">
    <div class="message">
      <Ul class="product">
        <li><a href="index.html">首頁</a></li>
        <li><a href="./Product_sun.html">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
        <li class="ig"><img src="./assets/images/icon-fb.svg" alt=""><img src="./assets/images/icon-ig.svg" alt=""><img
            src="./assets/images/icon-line.svg" alt=""></li>
      </Ul>
      <ul class="connection">
        <li><i class="fa_iphone  "></i>0800-000-000<a href="tel:+886-0800-000-000"></a></li>
        <li><i class="fa_imail"></i>glassses@business.com<a href="mailto:glassses@business.com"></a></li>
      </ul>
      <ul class="Copyright">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <li class="right">隱私權政策</li>
        <li>服務條款</li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
